body {
  height: 100vh;
  background: url('../images/full-rb.jpg');
}

h1 {
    color: gold;
    font-size: 80px;
    text-align: center;
}

h2 {
    color: gold;
    font-size: 30px;
    text-align: center;
}

/*Game Area*/

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Playing Card*/

.memory-card {
  width: calc(33.333% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.memory-card:active {
  transition: transform 1.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  padding: 10px;
  border-radius: 3px;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);;
  backface-visibility: hidden;
  
}

.front {
  transform: rotateY(180deg);
}